.mainContainer{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    padding: 30px;
}
.recipeContainer{
    flex: 0 0 calc(20% - 20px);  
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 10px;
      margin: 10px 0;
      text-align: center;
}
.recipeImage{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 10px 0;
}
.recipeName{
    font-size: 18px;
    color: #333;
  }
  .container5{
    display: flex;
    justify-content: center;
    align-items: "center";
  }
  .recipeContainers{
    max-width: 800px;
    display: flex;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
  }
  .active{
    background-color: #ccc;
  }
  .p25{
    margin-top: 5px;
  }